<div class="about-container">
  <%= link_to "Top", root_path, class: "bookmark-link" %>

  <section class="about-back-cover">
    <div class="book-spine-line"></div> <div class="about-content">
      <h2>Sweets Book について</h2>
      <p class="concept-text">
        美味しい記憶を、一生モノのレシピに。<br>
        このノートは、あなたのキッチンで生まれた小さな奇跡を<br>
        大切に書き留めるための場所です。
      </p>

      <div class="author-section">
        <h3>Author</h3>
        <p>お菓子作りを愛するすべての人たちへ</p>
      </div>

      <div class="back-cover-actions">
        <%= link_to "新規登録", new_user_session_path, class: "btn-back-cover" %>
      </div>
    </div>
  </section>
  
</div>