<section class="post-index">
  <h2>お菓子好きの集い</h2>

  <div class="post-grid">
    <% @posts.each do |post| %>
      <div class="post-card">
        <% if post.image.attached? %>
          <%= image_tag post.image, size: "200x200" %>
        <% end %>
        <h3><%= post.title %></h3>
        <p>作成者: <%= post.user.name %></p>
        <%= link_to "詳細を見る", post_path(post) %>
      </div>
    <% end %>
  </div>

</section>