// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* users.scss */

.user-posts {
  padding: 40px 20px;

  h3 {
    text-align: left;
    color: #5d4037;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .post-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}